.container
	.footer
		hr(style='margin: 30px 0 10px 0;')
		p &copy;&nbsp;
			a(href='http://www.nodejstr.com/') NodeJS Türkiye
			&nbsp;2013

link(rel='stylesheet', href='/assets/css/bootstrap.css')
script(src='/assets/js/bootstrap.min.js')
script(src='/assets/js/angular.min.js')
script(src='/assets/js/application.js')

block footer