div.navbar.navbar-inverse.navbar-fixed-top
	div.navbar-inner
		div.container
			a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.brand(href="#")
				| Html to Jade converter developed by ExpressJS and AngularJS
			div.nav-collapse.collapse
				ul.nav
					li
						a(href="https://github.com/cubuzoa/html2jade-service") View in Github