extends layout

block content
	div.container
		h2 Enter your HTML code and press Convert
		form(class="form-horizontal")
			label(for='html') Html:
			textarea(ng-model='form.text', cols='50', rows='15' name='html')
			button(ng-click='submitPost()') Submit Post