extends layout

block content
	div.container
		img(src="assets/img/html2jadelogo.jpg")
	div(ng-controller="apiCtrl").container
		form(class="form-horizontal")
			fieldset
				legend Html-Jade Çevirici | NodeJS Türkiye
				textarea(name="htmlText", rows="20", class="field span5", ng-change="getJadeOfHtml()", ng-model="htmlText")
				span &nbsp;
				button(class="btn btn-large")
					i(class="icon-arrow-right")
				span &nbsp;
				textarea(name="jadeText", rows="20", class="field span5", ng-model="jadeText")